extends baseEmail
block emailContent
    p Hi #{firstName},
        p Forgot your password? Click the link to create a new one by clicking the button
        p Token Valid for only 6 minutes
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Reset your Password
        p please ignore the message if you did not request it 
        p - Bishal Shah, Technical Department
